# Compiled vs Interpreted

- Source Code: Original Code
- Translation: Converting source code into something a computer can read (i.e machine code)
- Run-Time: Period when program is executing commands (after compilation, if compiled)
- Compiled: Code translated before run-time.
- Interpreted: Code translated on the fly, during execution.

# Static vs Dynamic

Static: Types checked before run-time.

Dynamic: Types Checked on the fly, during execution.

# Python

Python is an interpreted high-level programming language for general-purpose programming. Created by Guido van Rossum and first released in 1991, Python has a design philosophy that emphasizes code readability, notably using significant whitespace.

# Python is strongly type language.

In [1]:
print(3 + 5)
#print("3" + 5)

8

# Python is dynamic and interpreted language

In [2]:
a = 10
if a > 0:
    print('Hi')
else:
    print("3" + 5)

Hi

### Q. What if it was compiled?
### Q. What if it was statically typed?

In [3]:
# Hello world
print("Hello World")

Hello World

# Python Data Type

### Q. What is Data type?

# Python Basic Data Type

In [4]:
# Number
a = 10
print(a)

10

In [5]:
# String
var = "Name"
print(var)

Name

In [6]:
# list
var = [1,2,3, "abc", [1,2]]
print(var)

[1, 2, 3, 'abc', [1, 2]]

In [7]:
# dictionary
var = {1:'apple', 2: 'banana'}
print(var)

{1: 'apple', 2: 'banana'}

In [8]:
# tuple
var = (1,2,3,4,'apple', [1,2], (1,2))
print(var)

(1, 2, 3, 4, 'apple', [1, 2], (1, 2))

In [9]:
# set
var = {1, 2, 'a'}
print(var)

{'a', 1, 2}

In [10]:
# Boolean
a = True
print(a)

True

In [11]:
# and many others 
# files, types, none, classes

# Valid variable name

1. Variable names can be of any length and can use any upper case or lowercase letters, the underscore, and the digits 0-9.
2. variables names cannot begin with a digit. 
3. Variable names are case sensitive. 

#### Valid variable name: myVariable, var1, x, X, _x

#### Invalid variable name: 1var, my#var

# Numbers

In [12]:
my_int = 4
print(my_int/3) # normal division
print(my_int//3) # floar division

1.3333333333333333
1

In [13]:
my_float = 5.5
print(20/my_float)
print(20//my_float)

3.6363636363636362
3.0

In [14]:
# complex number 
2 + 4j

(2+4j)

In [15]:
_ - 3j

(2+1j)

In [16]:
complex(4,3)

(4+3j)

# Arithmetic and relational operation

In [17]:
# The order of execution is PEMDAS which stands for Parentheses\
# Exponents Multiplication Division Addition Subtraction"

In [18]:
print("I will now count my chickens:")

print("Hens", 25 + 30 / 6)
print("Roosters", 100 - 25 * 3 % 4)

print("Now I will count the eggs:")
print(3 + 2 + 1 - 5 + 4 % 2 - 1 / 4 + 6)

print("Is it true that 3 + 2 < 5 - 7?")
print(3 + 2 < 5 - 7)

print("What is 3 + 2?", 3 + 2)
print("What is 5 - 7?", 5 - 7)

print("Oh, that's why it's False.")

print("How about some more.")

print("It is greater?", 5 > -2)
print("It is greater or equal?", 5 >= -2)
print("It is less or equal?", 5 <= -2)

I will now count my chickens:
Hens 30.0
Roosters 97
Now I will count the eggs:
6.75
Is it true that 3 + 2 < 5 - 7?
False
What is 3 + 2? 5
What is 5 - 7? -2
Oh, that's why it's False.
How about some more.
It is greater? True
It is greater or equal? True
It is less or equal? False

# Boolean Expression

In [19]:
False and True

False

In [20]:
False or True

True

In [21]:
1 == 1 or 2 != 1

True

In [22]:
1 == 1 and (not ("testing" == 1 or 1 == 0))

True

#### In python 3, False = 0 True = 1

In [23]:
#False or True
0 or 1

1

In [24]:
# not False
not 0

True

# List

In [25]:
nums =  [70, 60, 50, 40, 30, 20, 10]
print(nums)

[70, 60, 50, 40, 30, 20, 10]

In [26]:
test = ["a", "list", "of", [4, 'plus', 1], "elements"]
print(test)

['a', 'list', 'of', [4, 'plus', 1], 'elements']

### Q. Compare list with array?

In [27]:
# indexing
x = [1,2,3,4,5,6]

In [28]:
len(x)

6

In [29]:
x[1]

2

In [30]:
x[-3]

4

In [31]:
x = [[1,2],[3,4],[5,6]]
x

[[1, 2], [3, 4], [5, 6]]

In [32]:
x[1][0]

3

In [33]:
x[2][-2]

5

In [34]:
x[-1]

[5, 6]

In [35]:
x[0][0] = 100
x

[[100, 2], [3, 4], [5, 6]]

### Q. Create 1d list of size 10 with values ranging from 1 to 10 and then assign 5th value to -1.

In [1]:
new_list = [1,2,3,4,5,6,7,8,9,10]
#assigning 5th value to -1
new_list[4] = -1
new_list

[1, 2, 3, 4, -1, 6, 7, 8, 9, 10]

### Q. Reverse the list

In [2]:
#reversing the new_list
new_list[::-1]

[10, 9, 8, 7, 6, -1, 4, 3, 2, 1]

In [38]:
# slicing
x = [1,2,3,4,5,6]

In [39]:
x[0:4]

[1, 2, 3, 4]

In [40]:
x[:4]

[1, 2, 3, 4]

In [41]:
l = len(x)
x[3:l]

[4, 5, 6]

In [42]:
x[3:]

[4, 5, 6]

In [43]:
x[::2]

[1, 3, 5]

In [44]:
x[1::2]

[2, 4, 6]

In [45]:
x = [[3,7,0],[1,9,9],[0,4,7]]
x[:2]

[[3, 7, 0], [1, 9, 9]]

In [46]:
x[:2][:1]

[[3, 7, 0]]

### Q. Find the last 3 element of list in reverse order.

Input: x = [1,2,3,4,5,6]
Output: [6,5,4]

In [11]:
x = [1,2,3,4,5,6]
#x[-1:-4:-1]
x[6:2:-1]

[6, 5, 4]

In [48]:
# change or add elements to a list

odd = [2, 4, 6, 8]

odd[0] = 1

print(odd)

odd[1:4] = [3,5,7]

print(odd)

odd.append(10)

print(odd)

odd.extend([9,11,13])

print(odd)

[1, 4, 6, 8]
[1, 3, 5, 7]
[1, 3, 5, 7, 10]
[1, 3, 5, 7, 10, 9, 11, 13]

In [49]:
odd = [1, 3, 5]

print(odd + [9, 7, 5])

print(["re"] * 3)

[1, 3, 5, 9, 7, 5]
['re', 're', 're']

In [50]:
odd = [1, 9]
odd.insert(1, 3)

print(odd)

# insert multiple items by squeezing it into an empty slice of a list.
odd[2:2] = [5, 7]

print(odd)

[1, 3, 9]
[1, 3, 5, 7, 9]

In [51]:
# delete or remove elements from a list
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

del my_list[2]

print(my_list)

del my_list[1:5]

print(my_list)

# delete entire list
del my_list
#print(my_list)

['p', 'r', 'b', 'l', 'e', 'm']
['p', 'm']

In [52]:
my_list = ['a', 'p', 'p', 'l', 'e', 'e']
my_list.remove('p')

print(my_list)

print(my_list.pop(1))

print(my_list)

print(my_list.pop())

print(my_list)

my_list[1:2] = []

print(my_list) 

my_list.clear()

print(my_list)

['a', 'p', 'l', 'e', 'e']
p
['a', 'l', 'e', 'e']
e
['a', 'l', 'e']
['a', 'e']
[]

In [53]:
my_list = [3, 8, 1, 6, 0, 8, 4]

# returns the index of the first matched item
print(my_list.index(8))

# returns the count of number of items passed as an argument
print(my_list.count(8))

my_list.sort()

print(my_list)

my_list.reverse()

print(my_list)

1
2
[0, 1, 3, 4, 6, 8, 8]
[8, 8, 6, 4, 3, 1, 0]

In [54]:
# list membership test
my_list = [1, 2, 3, 4]

print(1 in my_list)

print('a' in my_list)

print('1' in my_list)

True
False
False

In [55]:
my_list = [5, 6, 7, 8]
    
print(len(my_list))

print(max(my_list))

print(min(my_list))

print(sorted(my_list))

print(sum(my_list))

4
8
5
[5, 6, 7, 8]
26

# If condition

In [56]:
a = 10

if a == 10:
    print("Hello")
elif a == 20:
    print("End")
else:
    print("Empty")

Hello

# While loop

In [57]:
i = 0
while i < 6:
    print(i)
    i = i + 1

0
1
2
3
4
5

# For loop

In [58]:
for i in [1,2,3]:
    print(i)

1
2
3

### Q. Find the unique elements from the given list. 

list = [1,2,3,4,3,4,2,3,5,6,2,1]

In [19]:
lst = [1,2,3,4,3,3,2,3,5,6,2,1]
new_list = []

for i in lst:
    if i not in new_list:
        new_list.append(i)
        
new_list

[1, 2, 3, 4, 5, 6]

### Q. Slice to get the last 2 columns of first 2 rows.

x = [[3,7,0],[1,9,9],[0,4,7]]

expected output: [[7,0],[9,9]]

In [21]:
x = [[3,7,0],[1,9,9],[0,4,7]]

new_list = []
x = x[0:2]

for i in x:
    n = i[1:]
    new_list.append(n)
    
new_list

[[7, 0], [9, 9]]

# String

A string is a sequence of characters.

In [61]:
S = 'I am noob'

print(S)
print(len(S))
print(S[2])
print(S[-2])
print(S[:-2])

I am noob
9
a
o
I am no

In [62]:
T = S + 'xyz'
print(T)
print(S)

I am noobxyz
I am noob

In [63]:
T = S * 8
print(T)

I am noobI am noobI am noobI am noobI am noobI am noobI am noobI am noob

### Strings are immutable in python

In [64]:
S = 'Spam'
#S[0] = 'z'

#S = 'z' + S[1:]

print(S)

Spam

In [65]:
S = 'strawberry'
L = list(S)
L

['s', 't', 'r', 'a', 'w', 'b', 'e', 'r', 'r', 'y']

In [66]:
L[1] = 'c'
L

['s', 'c', 'r', 'a', 'w', 'b', 'e', 'r', 'r', 'y']

In [67]:
'#'.join(L)

's#c#r#a#w#b#e#r#r#y'

In [68]:
S = 'banana'
S.find('a')

1

In [69]:
S.replace('a', 'T')

'bTnTnT'

In [70]:
S

'banana'

In [71]:
line = 'aaa,bbb,ccc'
line.split(',')

['aaa', 'bbb', 'ccc']

In [72]:
line.upper()

'AAA,BBB,CCC'

In [73]:
line.isalpha()

False

In [74]:
# String formatting.

apple = 10
banana = 12

text = f'I have {apple} apple and {banana} banana'
print(text)

I have 10 apple and 12 banana

In [75]:
text = 'I have {} apple and {} banana'.format(apple, banana)
print(text)

I have 10 apple and 12 banana

# Dictionary

In [76]:
d = {'food':'Spam', 'quantity':4, 'color':'pink'}
print(d)

{'food': 'Spam', 'quantity': 4, 'color': 'pink'}

In [77]:
d['food']

'Spam'

In [78]:
d['quantity'] += 1
d

{'food': 'Spam', 'quantity': 5, 'color': 'pink'}

In [79]:
d = {}
d['name'] = 'Bob'
d['age'] = 15
d

{'name': 'Bob', 'age': 15}

In [80]:
d = {'a':1, 'd':2, 'c':3, 'b':5}
d

{'a': 1, 'd': 2, 'c': 3, 'b': 5}

In [81]:
keys = list(d.keys())
print(keys)

keys.sort()
print(keys)

for k in keys:
    print(k, '=> ', d[k])

['a', 'd', 'c', 'b']
['a', 'b', 'c', 'd']
a =>  1
b =>  5
c =>  3
d =>  2

### Q. Find the frequencey of elements from the given list. 

d = [1,2,3,4,3,4,2,3,5,6,2,1]

In [22]:
d = [1,2,3,4,3,4,2,3,5,6,2,1]

new_dic = {}

for i in d:
    if i in new_dic:
        new_dic[i] += 1
    else:
        new_dic[i] = 1
new_dic

{1: 2, 2: 3, 3: 3, 4: 2, 5: 1, 6: 1}

# Tuples

The tuple is roughly like a list but they are immutable

In [83]:
T = (1, 2, 3, 4, 4)
len(T)

5

In [84]:
T + (5,6)

(1, 2, 3, 4, 4, 5, 6)

In [85]:
T[0]

1

In [86]:
T[1:4]

(2, 3, 4)

In [87]:
# Tuples are immutable
# T[0] = 2
# T.append(10)

# Set

In [88]:
myset = {1, 2}
myset

{1, 2}

In [89]:
myset = {1,2,3,1,2}
myset

{1, 2, 3}

In [90]:
myset = {'a', 'b'}

# add adds an individual element to the set.
myset.add('c')
print(myset)

{'a', 'b', 'c'}

In [91]:
# Set doesn't support indexing
# myset[0]

In [92]:
myset.update({8,9})
print(myset)

{'a', 'b', 'c', 8, 9}

In [93]:
myset.remove('a')
myset

{8, 9, 'b', 'c'}

In [94]:
# common set operations
a = {2, 4, 5, 9}
b = {2, 4, 11, 12}

print(a.union(b))
print(a.intersection(b))
print(a.difference(b))

{2, 4, 5, 9, 11, 12}
{2, 4}
{9, 5}

### Q. Write a Python program to replace last value of tuples in a list. 
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [49]:
lst = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
#using list comprehension
#adding 100 at the last element of tuple
lst = [item[:2] + (100,) for item in lst] # without comma 100 is just integer
lst

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

# Function

We use functions in programming to bundle a set of instructions that you want to use repeatedly.

In [96]:
def hello():
    print("Hello World")
   
hello()

Hello World

In [97]:
def hello(name):
    print("Hello:", name, "!!!")

hello("people")

Hello: people !!!

In [98]:
def hello(name, age=12):
    print("Hello:",name, "with age:", age)

hello("people")

Hello: people with age: 12

In [99]:
def hello(name, age=12):
    print("Hello:",name, "with age:", age)

hello("people", 15)

Hello: people with age: 15

In [100]:
def hello(name, age):
    print("Hello:",name, "with age:", age)

hello("people", 20)

Hello: people with age: 20

In [101]:
def return_value():
    a = 10
    b = 10
    return a + b

res = return_value()
print(res)

20

In [102]:
def return_multiple_value():
    a = 10
    b = 10
    return a+b, a-b, a*b

add, sub, mul = return_multiple_value()
print(add)
print(sub)
print(mul)

20
0
100

# lamda function

lambda function is used for creating small, one-time and anonymous function objects in Python

In [103]:
# user define function

def sum(a, b):
    return a + b

sum(5, 6)

11

In [104]:
# lamda function
add = lambda a, b: a + b 

add(5,6)

11

# Range

In [105]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [106]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

# Q. Print the even number from 7 to 71

In [52]:
for i in range(7,72):
    if i % 2 == 0:
        print(i,end="\t")

8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70

# Q. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated string.

In [64]:
x = []
for num in range(200,3201):
    if num % 7 == 0 and num % 5 != 0:
        x.append(str(num))
        
print(','.join(x))

203,217,224,231,238,252,259,266,273,287,294,301,308,322,329,336,343,357,364,371,378,392,399,406,413,427,434,441,448,462,469,476,483,497,504,511,518,532,539,546,553,567,574,581,588,602,609,616,623,637,644,651,658,672,679,686,693,707,714,721,728,742,749,756,763,777,784,791,798,812,819,826,833,847,854,861,868,882,889,896,903,917,924,931,938,952,959,966,973,987,994,1001,1008,1022,1029,1036,1043,1057,1064,1071,1078,1092,1099,1106,1113,1127,1134,1141,1148,1162,1169,1176,1183,1197,1204,1211,1218,1232,1239,1246,1253,1267,1274,1281,1288,1302,1309,1316,1323,1337,1344,1351,1358,1372,1379,1386,1393,1407,1414,1421,1428,1442,1449,1456,1463,1477,1484,1491,1498,1512,1519,1526,1533,1547,1554,1561,1568,1582,1589,1596,1603,1617,1624,1631,1638,1652,1659,1666,1673,1687,1694,1701,1708,1722,1729,1736,1743,1757,1764,1771,1778,1792,1799,1806,1813,1827,1834,1841,1848,1862,1869,1876,1883,1897,1904,1911,1918,1932,1939,1946,1953,1967,1974,1981,1988,2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

# Q. Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.

Suppose the following input is supplied to the program:

without,hello,bag,world

Then, the output should be:

bag,hello,without,world

In [73]:
words = input()
words = words.split(",") #converting into list
#print(words)
words.sort()
print(','.join(words))

without,hello,bag,world
['without', 'hello', 'bag', 'world']
bag,hello,without,world

# Q. Write a program that accepts a sentence and calculate the number of letters and digits.

Suppose the following input is supplied to the program:

hello world! 123

Then, the output should be:

LETTERS 10

DIGITS 3

In [76]:
def calculate(sentence):
    letter = 0
    digit = 0
    for ch in sentence:
        if ch.isdigit():
            digit += 1
        elif ch.isalpha():
            letter += 1
        else:
            pass
    return (letter, digit)

sentence = input()
l , d = calculate(sentence)

print("LETTER : {0:d}\n DIGIT : {1:d}".format(l,d))

my hello 1234
LETTER : 7
 DIGIT : 4

# Exceptation Handling

An exception is an error that happens during execution of a program. When that error occurs, Python generate an exception that can be handled, which avoids your program to crash.

In [111]:
x = 1/ 10

In [112]:
try:
    x = 1/10
    print(x)
except Exception as e:
    print("Error handling")

0.1

In [113]:
try:
    x = 1/0
except Exception as e:
    print("Error handling")

Error handling

In [114]:
try:
    x = 1/10
except Exception as e:
    print("Error handling")
finally:
    print("Finally end")

Finally end

In [115]:
try:
    x = 1/0
except Exception as e:
    print("Error handling")
finally:
    print("Finally end")

Error handling
Finally end

In [116]:
def error_handling():
    try:
        x = 1/0
        return (x)
    except Exception as e:
        print("Error handling")
        raise e
    finally:
        print("Finally end")

In [117]:
try: 
    print(error_handling())
except:
    print("Handling throw exception")

Error handling
Finally end
Handling throw exception

# OOP in python

A class is a blueprint or prototype that defines the variables and the methods (functions) common to all objects of a certain kind. 

An object is a specimen of a class

In [118]:
# creating a class
class Dog:
    def __init__(self):
        print("Dog")

dog = Dog()

Dog

In [119]:
# adding attributes to a class
# self is used to access the instance variable and methods. 
class Dog:
    
    doggy = 10
    
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [120]:
Dog.doggy
#Dog.name

10

In [121]:

ozzy = Dog("Ozzy", 2)
print(ozzy.name)
print(ozzy.age)

Ozzy
2

In [122]:
# define methods in a class
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def setbuddy(self, buddy):
        self.buddy = buddy
    
    def doginfo(self):
        print(self.name + "is " + str(self.age) + " year(s) old.")

In [123]:
ozzy = Dog("Ozzy", 2)

In [124]:
ozzy.doginfo()

Ozzyis 2 year(s) old.

In [125]:
ozzy.age = 3
print(ozzy.age)

3

In [126]:
ozzy.setbuddy("Skippy")
print(ozzy.buddy)

Skippy

# Inheritance

In [127]:
#Parent class
class Bird:
    
    def __init__(self):
        print("Bird is ready")
    
    def who_is_this(self):
        print("Bird")
    
    def swim(self):
        print("Swim faster")

#Child class
class Penguin(Bird):
    
    def __init__(self):
        super().__init__()
        print("Penguin is ready")
    
    def who_is_this(self):
        print("Penguin")
    
    def run(self):
        print("Run faster")

In [128]:
bird = Bird()
bird.swim()

Bird is ready
Swim faster

In [129]:
peggy = Penguin()
peggy.who_is_this()
peggy.swim()
peggy.run()

Bird is ready
Penguin is ready
Penguin
Swim faster
Run faster

### Python multiple inheritance and the diamond problem

Q. How does the python resolve the diamond problem.

In [130]:
# Diamond Problem
class A(object):
    pass

class B(A):
    pass

class C(A):
    pass

class D(B,C): #multiple inheritance 
    pass

# Diamond problem resolving:

- Python follows a depth-first order for resolving methods and attributes.
- In case of multiple inheritances where the methods happen to occur more than once, python omits the first occurrence of a class in the Method Resolution Order.

In [131]:
class A(object):

    def __init__(self):
        print("A Constructor")
        super(A, self).__init__()

class B(A):
    def __init__(self):
        print("B Constructor")
        super(B, self).__init__()

class C(A):
    def __init__(self):
        print("C Constructor")
        super().__init__()

    def user_define_method(self):
        print("C method")  


class D(B, C):
    def __init__(self):
        print("D Constructor")
        super(D, self).__init__()
        super().user_define_method()

In [132]:

print(D.__mro__)

(<class '__main__.D'>, <class '__main__.B'>, <class '__main__.C'>, <class '__main__.A'>, <class 'object'>)

In [133]:
d = D()

D Constructor
B Constructor
C Constructor
A Constructor
C method